<header>
    <div class="logo">
        <div class="circle">T</div>
        <span>TReX Logo</span>
    </div>
    <div class="mobile-buttons mobile">
        <i class="fas fa-search"></i>
        <i class="fas fa-bars"></i>
    </div>
    <label class="search">
        <input placeholder="Search reports and help" class="sign-up-input">
    </label>
    <div class="user">
        <img src="src/assets/user.png" alt="TS">
        <a class="name">Turcu Stefanel</a>
        <i class="fas fa-angle-down arrow"></i>
    </div>
</header>
<div class="container">
    <div class="meniu">
        <div class="option option-selected">
            <div class="circle">
                <p>T</p>
            </div>
            <div class="option-name">Home</div>
        </div>
        <div class="groups">
            <p class="group-title">Your groups</p>
            <div class="option">
                <div class="circle">T</div>
                <div class="option-name">Angular Pascani</div>
            </div>
            <div class="option">
                <div class="circle">T</div>
                <div class="option-name">.net Iasi</div>
            </div>
            <div class="option">
                <div class="circle">T</div>
                <div class="option-name">React&Vue</div>
            </div>
            <div class="option">
                <div class="circle">T</div>
                <div class="option-name">C++ is the best</div>
            </div>
            <div class="option">
                <div class="circle">T</div>
                <div class="option-name">Tehnologii web Info</div>
            </div>
            <a href="fdsfgd" class="sign-up-helper-text add-new-group">Add new group</a>
        </div>
    </div>
    <div class="content" id="content"></div>
</div>