<script type="text/javascript" src="/src/js/modules/authentication.js"></script>

<div class="view">
        <form class="sign-up-container" id="login-form">
            <h1 class="sign-up-title">TReX</h1>
            <input class="sign-up-input" type="text" name="username" placeholder="Username">
            <input class="sign-up-input" type="password" name="password" placeholder="Password">
            <button class="sign-up-button" type="submit" onclick="verifyLogin(event)">Login</button>
            <p class="sign-up-helper-text">You don't have an account? Register now!</p>
        </form>
</div>