<div class="view">
    <form class="sign-up-container padded-container" id="login-form" onsubmit="app.auth.verifyLogin(event)">
        <h1 class="sign-up-title">TReX</h1>
        <input class="sign-up-input" type="text" name="username" placeholder="Username" required>
        <input class="sign-up-input" type="password" name="password" placeholder="Password" required>
        <p id="login-error"></p>
        <button class="sign-up-button" type="submit">Login</button>
        <p class="sign-up-helper-text" onclick="app.router.goTo('register')">You don't have an account? Register now!</p>
    </form>
</div>