<header>
        <div class="logo">
            <div class="circle">T</div>
            <span>TReX Logo</span>
        </div>
        <div class="mobile-buttons mobile">
            <i class="fas fa-search" onclick="showSearch()"></i>
            <i class="fas fa-bars" onclick="showMenu()"></i>
        </div>
        <label id="mobile-search" class="search">
            <input placeholder="Search reports and help" class="sign-up-input">
            <i class="far fa-times-circle" onclick="closeSearch()"></i>
        </label>
        <div class="user">
            <img src="src/assets/user.png" alt="TS">
            <a class="name">Turcu Stefanel</a>
            <i class="fas fa-angle-down arrow"></i>
        </div>
    </header>
    <div id="container" class="container">
        <div id="mobile-menu" class="menu mobile-menu">
            <div class="big-user">
                <img src="src/assets/user-big.png" alt="TS">
                <a class="name">Turcu Stefanel</a>
                <a href="#login" class="sign-up-helper-text log-out">Log out</a>
            </div>
            <div class="option option-selected">
                <div class="circle">
                    <p>T</p>
                </div>
                <div class="option-name">Home</div>
            </div>
            <div class="groups">
                <p class="group-title">Your groups</p>
                <div class="option">
                    <div class="circle">T</div>
                    <div class="option-name">Angular Pascani</div>
                </div>
                <div class="option">
                    <div class="circle">T</div>
                    <div class="option-name">.net Iasi</div>
                </div>
                <div class="option">
                    <div class="circle">T</div>
                    <div class="option-name">React&Vue</div>
                </div>
                <div class="option">
                    <div class="circle">T</div>
                    <div class="option-name">C++ is the best</div>
                </div>
                <div class="option">
                    <div class="circle">T</div>
                    <div class="option-name">Tehnologii web Info</div>
                </div>
                <a href="fdsfgd" class="sign-up-helper-text add-new-group">Add new group</a>
            </div>
        </div>
        <div id="mobile-menu" class="overlay mobile-menu" onclick="closeMenu()">a</div>
        <div class="content" id="content">
        <div class="content-container">
            <p class="feed-title">Your Newsfeed</p>
            <div class="content-view-filter">
                <div class="content-list">
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">Articol bomba despre .NET</div>
                            <div class="popularity-score">7.1/10 popularity</div>
                        </div>
                        <div class="article-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                            lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis sit
                            amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna justo,
                            luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                            pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                            mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec congue. [
                            … ]
                        </div>
                        <div class="article-footer">
                            <div class="tag-list">
                                <div class="tag-label article-tag-label">HTML&CSS</div>
                                <div class="tag-label article-tag-label">Angular</div>
                                <div class="tag-label article-tag-label">Fancy Design</div>
                            </div>
                            <a href="http://gugustiuc.exe" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">Articol bomba despre .NET</div>
                            <div class="popularity-score">7.1/10 popularity</div>
                        </div>
                        <div class="article-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                            lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis sit
                            amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna justo,
                            luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                            pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                            mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec congue. [
                            … ]
                        </div>
                        <div class="article-footer">
                            <div class="tag-list">
                                <div class="tag-label article-tag-label">HTML&CSS</div>
                                <div class="tag-label article-tag-label">Angular</div>
                                <div class="tag-label article-tag-label">Fancy Design</div>
                            </div>
                            <a href="http://gugustiuc.exe" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">Articol bomba despre .NET</div>
                            <div class="popularity-score">7.1/10 popularity</div>
                        </div>
                        <div class="article-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                            lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis sit
                            amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna justo,
                            luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                            pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                            mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec congue. [
                            … ]
                        </div>
                        <div class="article-footer">
                            <div class="tag-list">
                                <div class="tag-label article-tag-label">HTML&CSS</div>
                                <div class="tag-label article-tag-label">Angular</div>
                                <div class="tag-label article-tag-label">Fancy Design</div>
                            </div>
                            <a href="http://gugustiuc.exe" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">Articol bomba despre .NET</div>
                            <div class="popularity-score">7.1/10 popularity</div>
                        </div>
                        <div class="article-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                            lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis sit
                            amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna justo,
                            luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                            pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                            mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec congue. [
                            … ]
                        </div>
                        <div class="article-footer">
                            <div class="tag-list">
                                <div class="tag-label article-tag-label">HTML&CSS</div>
                                <div class="tag-label article-tag-label">Angular</div>
                                <div class="tag-label article-tag-label">Fancy Design</div>
                            </div>
                            <a href="http://gugustiuc.exe" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">Articol bomba despre .NET</div>
                            <div class="popularity-score">7.1/10 popularity</div>
                        </div>
                        <div class="article-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                            lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis sit
                            amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna justo,
                            luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                            pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                            mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec congue. [
                            … ]
                        </div>
                        <div class="article-footer">
                            <div class="tag-list">
                                <div class="tag-label article-tag-label">HTML&CSS</div>
                                <div class="tag-label article-tag-label">Angular</div>
                                <div class="tag-label article-tag-label">Fancy Design</div>
                            </div>
                            <a href="http://gugustiuc.exe" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">Articol bomba despre .NET</div>
                            <div class="popularity-score">7.1/10 popularity</div>
                        </div>
                        <div class="article-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                            lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis sit
                            amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna justo,
                            luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                            pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                            mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec congue. [
                            … ]
                        </div>
                        <div class="article-footer">
                            <div class="tag-list">
                                <div class="tag-label article-tag-label">HTML&CSS</div>
                                <div class="tag-label article-tag-label">Angular</div>
                                <div class="tag-label article-tag-label">Fancy Design</div>
                            </div>
                            <a href="http://gugustiuc.exe" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">Articol bomba despre .NET</div>
                            <div class="popularity-score">7.1/10 popularity</div>
                        </div>
                        <div class="article-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                            lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis sit
                            amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna justo,
                            luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                            pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                            mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec congue. [
                            … ]
                        </div>
                        <div class="article-footer">
                            <div class="tag-list">
                                <div class="tag-label article-tag-label">HTML&CSS</div>
                                <div class="tag-label article-tag-label">Angular</div>
                                <div class="tag-label article-tag-label">Fancy Design</div>
                            </div>
                            <a href="http://gugustiuc.exe" class="read-more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="filters-container">
                    <div class="filters-padded-container">
                        <div class="filters-container-title">Filter</div>
                        <div class="populaity-slider-container">
                            <p class="filter-subtitle">Popularity</p>
                            <div class="popularity-slider-value">
                                <p class="popularity-filter-score">7.8</p>
                                <div class="popularity-slider-container">
                                    <input type="range" min="1" max="100" value="78" class="popularity-slider">
                                </div>
                            </div>
                        </div>
                        <div class="tag-filter-container">
                            <p class="filter-subtitle">Tags</p>
                            <div class="tag-filter">
                                <div class="tag-label">HTML&CSS</div>
                                <div class="tag-label">Angular</div>
                                <div class="tag-label">React</div>
                                <div class="tag-label">.NET</div>
                                <div class="tag-label">Vue Js</div>
                                <div class="tag-label">Fancy Design</div>
                                <div class="tag-label">Deja.Vu</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>