<div class="view">
    <form class="sign-up-container" id="register-form">
        <h1 class="sign-up-title">TReX</h1>
        <input class="sign-up-input" type="text" name="fullName" placeholder="Full Name">
        <input class="sign-up-input" type="text" name="username" placeholder="Username">
        <input class="sign-up-input" type="password" name="password" placeholder="Password">
        <input class="sign-up-input" type="password" name="repeatPassword" placeholder="RepeatPassword">
        <input class="sign-up-input" type="email" name="email" placeholder="Email">
        <div class="agreement">
            <input id="terms-checkbox" type="checkbox" name="checkbox">
            <label for="checkbox" class="sign-up-helper-text">Accept termenii si conditiile</label>
        </div>
        <button class="sign-up-button" type="submit" onclick="registerUser(event)">Register</button>
    </form>
</div>