
        <link rel="stylesheet" href="src/css/topic-choice.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"/>
        <link rel="stylesheet" href="src/css/background-anim.css" />
    <object id="cloud-background" type="image/svg+xml" data="src/assets/background.svg">
      <img src="src/assets/background.svg" />
    </object>

    <!-- #region  -->
    <div class="topic-choice-container">
      <div id="topics-container">
        <p id="topics-title">
          Buna, <strong>Popescu Andrei</strong>! Alege 3 arii de interes
        </p>
        <div class="topic-list">
          <div class="topic-item topic-item-inactive" id="button1">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button2">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button3">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button4">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button5">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button6">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button7">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button8">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button9">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button10">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button11">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button12">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button13">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button14">
            <p>
              .NET <br />
              Core
            </p>
          </div>
          <div class="topic-item topic-item-inactive" id="button15">
            <p>
              .NET <br />
              Core
            </p>
          </div>
        </div>
        <div id="chosen-topics">
          <div class="topic-miniature topic-miniature-unused" id="topic1"></div>
          <div class="topic-miniature topic-miniature-unused" id="topic2"></div>
          <div class="topic-miniature topic-miniature-unused" id="topic3"></div>
        </div>
        <input type="button" value="Continue" id="continue-button" />
      </div>
    </div>
    <!-- #endregion -->