@import url("https://fonts.googleapis.com/css?family=Roboto");

/*desktop: @media (min-width: 768px) { @content; } */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes overlayShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated-in {
    animation: 0.25s ease-out 0s 1 slideInFromLeft;
}

.animate-overlay-in {
    animation: 0.25s ease-out 0s 1 overlayShow;
}

.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }
}

header {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #DEE2EC;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    background-color: #fff;
}

header .logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

header .logo span {
    margin-left: 15px;
    color: #6A7284;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

header .circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #55EFC4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #55EFC4;
}

.user .name {
    margin-left: 15px;
    color: #8A8D94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.user .arrow {
    width: 10px;
    margin-left: 15px;
    font-size: 14px;
    color: #DEE2EC;
    cursor: pointer;
}

.user .arrow:hover {
    color: #6A7284;
    transition: 0.3s ease;
}

header label {
    width: 33%;
}

header label .sign-up-input {
    width: 100% !important;
}

.container {
    display: flex;
    padding-top: 62px;
}

header .mobile-buttons i {
    margin-right: 20px;
    color: #6A7284;
    font-size: 30px;
}

header .search i {
    display: none;
}

.menu {
    position: fixed;   
    width: 17%;
    height: calc(100vh - 82px);
    padding-top: 20px;
    border-right: 2px solid #DEE2EC;
    display: block;
    background-color: #fff;
}

@media screen and (max-width: 1248px) {
    .menu {
        width: 30%;
    }

    .content {
        padding-left: 30%;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        width: 70%;
        height: calc(100vh - 20px);
        z-index: 2;
        left: 0;
        top: 0;
    }

    header {
        display: flex;
        flex-wrap: wrap;

        height: auto;
    }

    header .search {
        display: none;
        width: 100%;
        padding: 10px 20px;
        align-items: center;

        border-top: 2px solid #DEE2EC;
    }

    header .search i {
        display: block;
        margin-left: 10px;

        color: #DEE2EC;
        font-size: 30px;
    }

    .user {
        display: none;
    }
}

.menu .option {
    width: calc(100% - 20px);
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu .option:hover {
    background-color: #F7F9F9;
    transition: 0.2s ease;
}

.menu .option-selected {
    background-color: #F7F9F9;
}

.menu .big-user {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .menu .big-user {
        display: none;
    }
}

.menu .big-user img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.menu .big-user .name {
    margin-bottom: 10px;
    color: #8A8D94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.menu .option .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #55EFC4;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.menu .option-name {
    margin-left: 10px;
    color: #6A7284;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

.menu .group-title {
    margin: 20px 0 10px 20px;
    color: #6A7284;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 2px;
}

.menu .add-new-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container .overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(106, 114, 132, 0.4);
}

.content {
    width: calc(100% - 17%);
    height: auto;
    min-height: calc(100vh - 82px);
    padding-left: 17%;

    background-color: rgba(236, 240, 241, 0.4);
}

@media screen and (max-width: 1248px) {
    .content {
        padding-left: 30%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        min-height: calc(100vh - 62px);
        padding: 0;
    }
}

body, html, .router, .view {
    min-height: 100vh;
}

.content-container {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .content-container {
        width: 100%;
    }
}
/* IE9 */
::selection {
    background: #55EFC4;
    color: #FFF;
    text-shadow: none;
}

/* Safari & Chrome */
::-webkit-selection {
    background: #55EFC4;
    color: #FFF;
    text-shadow: none;
}

/* Mozilla */
::-moz-selection {
    background: #55EFC4;
    color: #FFF;
    text-shadow: none;
}
