<div class="popup" style="display: none" id="add-group-modal">
    <div class="overlay"></div>

    <div class="container-wrapper">
        <div class="sign-up-container popup-container">
            <h1 class="sign-up-title popup-title">
                Create new group
            </h1>
            <div class="popup-inputs">
                <input type="text" class="sign-up-input" id="group-name" placeholder="Name">
            </div>
            <div class="tags">
                <p class="sign-up-helper-text popup-subtitle">Tags</p>
                <div class="tags-container" id="tags-container">
                </div>
                <p class="sign-up-helper-text popup-subtitle">Chosen tags</p>
                <div class="tags-container" id="group-chosen-topics">
                </div>
            </div>
            <div class="popup-buttons">
                <button class="sign-up-button" onclick="groups.addGroup()">ADD</button>
                <button class="sign-up-button button-empty" onclick="groups.cancel('add-group-modal')">CANCEL</button>
            </div>
        </div>
    </div>
</div>