<div class="content-container">
    <p class="feed-title" id="feed-title">Your Newsfeed</p>
    <div class="content-view-filter">
        <div class="content-list" id="content-list">
            <template>
                <div class="article">
                    <div class="article-header">
                        <div class="article-title" id="article-title">Articol bomba despre .NET</div>
                        <div class="popularity-score" id="popularity-score">7.1/10 popularity</div>
                    </div>
                    <div class="article-content" id="article-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit ullamcorper
                        lorem, id suscipit ante placerat at. Nullam eu ex vitae nulla condimentum pellentesque quis
                        sit
                        amet orci. Nulla vitae est sodales, efficitur metus rutrum, sodales libero. Proin urna
                        justo,
                        luctus vitae sapien sed, feugiat euismod leo. Proin lorem nibh, faucibus non elementum et,
                        pharetra eu nibh. Vestibulum volutpat accumsan dui non ultricies. Proin porttitor rhoncus
                        mollis. Morbi interdum lectus enim. Proin at mollis mi. Cras egestas gravida justo nec
                        congue. [
                        … ]
                    </div>
                    <div class="article-footer">
                        <div class="tag-list"></div>
                        <a onclick="" class="read-more-link">Read More</a>
                    </div>
                </div>
            </template>
        </div>
        <div class="filters-container">
            <div class="filters-padded-container">
                <div class="filters-container-title">Filter</div>
                <div class="populaity-slider-container">
                    <p class="filter-subtitle">Popularity</p>
                    <div class="popularity-slider-value">
                        <p class="popularity-filter-score">7.8</p>
                        <div class="popularity-slider-container">
                            <input type="range" min="1" max="100" value="78" class="popularity-slider">
                        </div>
                    </div>
                </div>
                <div class="tag-filter-container">
                    <p class="filter-subtitle">Tags</p>
                    <div class="tag-filter">
                        <div class="tag-label">HTML&CSS</div>
                        <div class="tag-label">Angular</div>
                        <div class="tag-label">React</div>
                        <div class="tag-label">.NET</div>
                        <div class="tag-label">Vue Js</div>
                        <div class="tag-label">Fancy Design</div>
                        <div class="tag-label">Deja.Vu</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>